mixin Hex(x, y)
  polygon(
    points=pointToHexPoints(x, y, 20)
    fill='lime'
    stroke='purple'
    stroke-width=1
    onClick=onClickTile
  )
  
.main
  h1 Main
  button(onClick=onClickGoToSub) to sub
  svg(width=640 height=480)
    for x in _.range(10)
      for y in _.range(2)
        +Hex(50+x*30*1.16, 50+y*30)
